<h1>Editing event</h1>
<div class="row">
  <% @e=Parse::Query.new("Event").eq("objectId", @event.id).get.first %>

<%= render 'form' %>
</div>


<hr>

<div class="row">
  <br/>
  <div class="col-xs-1"><p><%= button_to 'Show', @event, :class=> 'btn btn-primary', :method => :get  %></p></div>
  <div class="col-xs-2"><p><%= button_to 'Back', events_path, :class=> 'btn btn-primary', :method => :get  %></p></div>
  <div class="col-xs-10"></div>
</div>
