<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery">
  <!-- The container for the modal slides -->
  <div class="slides"></div>
  <!-- Controls for the borderless lightbox -->
  <h3 class="title"></h3>
  <a class="prev">‹</a>
  <a class="next">›</a>
  <a class="close">×</a>
  <a class="play-pause"></a>
  <ol class="indicator"></ol>
  <!-- The modal dialog, which will be used to wrap the lightbox content -->
  <div class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" aria-hidden="true">&times;</button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body next"></div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left prev">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Previous
          </button>
          <button type="button" class="btn btn-primary next">
            Next
            <i class="glyphicon glyphicon-chevron-right"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--<div id="links">-->
  <!--<a href="http://farm8.static.flickr.com/7450/10708768905_1834ec61ee_b.jpg" title="Sahara Shoot" data-gallery="">-->
  <!--<img src="http://farm8.static.flickr.com/7450/10708768905_1834ec61ee_s.jpg">-->
  <!--</a>-->
  <!--<a href="http://farm4.static.flickr.com/3772/10712289623_a2589727f7_b.jpg" title="Craobh na Beatha" data-gallery="">-->
    <!--<img src="http://farm4.static.flickr.com/3772/10712289623_a2589727f7_s.jpg">-->
  <!--</a>-->
  <!--<a href="http://farm8.static.flickr.com/7352/10711023376_4a242f4528_b.jpg" title="Top of The Rock" data-gallery="">-->
    <!--<img src="http://farm8.static.flickr.com/7352/10711023376_4a242f4528_s.jpg">-->
  <!--</a>-->
<!--</div>-->

<div id="links">
<% @photos.each do |p| %>
      <a href="<%= p["image"].url %>" title="Sahara Shoot" data-gallery="">
    <%= image_tag p["thumbnail"].url %>
      </a>
<% end %>
</div>
