<h1>Editing lost_pet</h1>
<div class="row">
  <%= render 'form' %>
</div>

<div class="row">
  <br/>
  <div class="col-xs-1"><p><%= button_to 'Show', @lost_pet, :class=> 'btn btn-primary', :method => :get  %></p></div>
  <div class="col-xs-2"><p><%= button_to 'Back', lost_pets_path, :class=> 'btn btn-primary', :method => :get  %></p></div>
  <div class="col-xs-10"></div>
</div>