<div class="photo">
  <% if p["thumbnail"] %>
    <%= image_tag p["thumbnail"].url , :size => "50x50"%>
  <% end %>
  <div class="actions">
    <%= link_to "remove", "#",:id => "#{p.id}", :class => "delete_photo" %>
  </div>
</div>


