
  <% if p["thumbnail"] %>
    <%= image_tag p["thumbnail"].url , :size => "50x50"%>
  <% end %>
  <div class="actions">
    <%#= link_to "edit", edit_painting_path(painting) %>
    <%#= link_to "remove", painting, :confirm => 'Are you sure?', :method => :delete %>
  </div>


